<!DOCTYPE html>
<html>
  <head>
    <title>pv - JavaScript protein viewer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <script src='js/jquery-2.0.2.min.js'></script>
    <script src='js/modernizr-2.8.3.min.js'></script>
    <script src="js/foundation-5.4.7.min.js"></script>
    <script src="js/underscore-min.js"></script>
    <script data-main='demo' src='js/require.js'></script>
    <link rel='stylesheet' href='css/foundation.css'>
    <style>
      body {
        padding:0px;
        margin:0px;
      }
      #main {
        height: 100%;
        max-width: 100%;
      }
      #panel {
        max-height: 100%;
      }
      #viewer {
        height: 100%;
        top : 0px; 
        left: 0px;
        bottom : 0px;
        right : 0px;
        margin : 0px;
        padding:0px;
        overflow:hidden;
      }
    </style>
    </head>
    <body>

<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">PV</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class=left>
<div class="row collapse">
    <div class="large-8 small-9 columns">
      <input type="text" id=load-from-pdb placeholder="1ake">
    </div>
    <div class="large-4 small-3 columns">
      <a href="#" class="alert button expand">Get</a>
    </div>
  </div>
    </ul>
    <ul class="right">
      <li class="has-dropdown">
        <a href="#">Load</a>
        <ul class="dropdown">
          <li><a id=1r6a href="#">Methyl Transferase</a></li>
          <li><a id=4c46 href="#">Long Helices</a></li>
          <li><a id=2f8v href="#">Telethonin</a></li>
          <li><a id=1ake href="#">Adenylate Kinase</a></li>
          <li><a id=4ubb href="#">DNA Polymerase</a></li>
          <li><a id=ensemble href="#">NMR ensemble</a></li>
        </ul>
      </li>
      <li class="has-dropdown">
        <a href="#">Shading</a>
        <ul class="dropdown">
          <li><a id=phong href="#">Phong</a></li>
          <li><a id=hemilight href="#">Hemilight</a></li>
        </ul>
      </li>
    </ul>
  </section>
</nav>


<div id="main" class="row collapse">
  <div id="panel" class="small-3 columns">
    <ul class="tabs" data-tab role="tablist">
      <li class="tab-title active" role="presentational">
        <a href="#panel-views" role="tab" tabindex="0" aria-selected="true" controls="panel-views">Views</a>
      </li>
      <li class="tab-title" role="presentational">
        <a href="#panel-object" role="tab" tabindex="0" aria-selected="false" controls="panel-object">Object</a>
      </li>
      <li class="tab-title" role="presentational">
        <a href="#panel-pdb" role="tab" tabindex="0" aria-selected="false" controls="panel-pdb">PDB</a>
      </li>
    </ul>
    <div class="tabs-content">
      <section role="tabpanel" aria-hidden="false" class="content active" id="panel-views">
          <script type="text/template" id="panel-views-template">
              <% _.each(views, function( view_spec, index ) { %>
                <tr view_index=<%- index %>>
                <td> <%- view_spec.selection %> </td><td> <%- view_spec.mode %> </td>
                <td width="10em"> <a href="#" class="button tiny delete">X</a></td>
                </tr>
              <% } ); %>
          </script>
          <table width="100%">
            <thead>
              <th>Selector</th><th>Mode</th><th width="10em">Remove</th>
            </thead>
            <tbody>
            </tbody>
          </table>
          <form>
            <div class="row">
              <div class="small-6 columns">
                <input class="selector" type="text" placeholder="Selector"></input>
              </div>
              <div class="small-6 columns">
                <input class="mode" type="text" placeholder="Mode"></input>
              </div>
            </div>
            <a href="#" class="button expand add">Add</a>
          </form>
          </section>
      <section role="tabpanel" aria-hidden="true" class="content" id="panel-object"> </section>
      <section role="tabpanel" aria-hidden="true" class="content" id="panel-pdb"> </section>
    </div>
  </div>
  <div id="viewer" class="small-9 columns" >
  </div>
  </div>
</body>
</html>

